.footer {
  padding: 20px 0;
  background-color: #333;
  font-family: $Fuente2;
  @include shadow-in;
  @include flex;
  &--container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include media(tablet) {
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
    }
    &--td {
      margin-top: 170px;
      flex-direction: column;
      @include flex;
      @include media(tablet) {
        width: 30%;
        margin: 0;
      }
      @include media(desktop-s) {
        flex-direction: row;
        justify-content: space-evenly;
        width: 40%;
      }
      & p {
        text-align: center;
        font-size: 1em;
        color: $color-claro;
        @include media(tablet) {
          font-size: 0.7em;
          margin: 5px 0;
        }
        @include media(desktop-s) {
          font-size: 1em;
        }
        & span {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
    &--logo {
      position: absolute;
      @include media(tablet) {
        position: relative;
        width: 25%;
        @include flex;
      }
      @include media(desktop-s) {
        width: 20%;
      }
      & img {
        width: 150px;
        @include media(tablet) {
          width: 130px;
        }
        @include media(desktop-s) {
          width: 120px;
        }
      }
    }
    &--direc {
      @include flex;
      margin-top: 10px;
      @include media(tablet) {
        width: 30%;
        margin-top: 0;
      }
      @include media(desktop-s) {
        width: 40%;
      }
      & p {
        color: $color-claro;
        font-weight: 400;
        font-size: 1em;
        text-align: center;
        @include media(tablet) {
          font-size: 0.7em;
          margin: 0;
        }
        @include media(desktop-s) {
          font-size: 1em;
        }
        & span {
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}
