.galeria {
  padding-bottom: 20px;
  background-color: $color-claro;
  &--container {
    width: 100%;
    margin: 0 auto;

    @include media(mobile-xl) {
      width: 80%;
    }

    @include media(desktop-s) {
    }
    &--title {
      width: 100%;
      margin: 0 auto;
      margin-bottom: 30px;
      flex-direction: column;
      @include flex;
      @include media(desktop-s) {
        margin-bottom: 50px;
      }

      & p {
        color: $color-primario;
        width: 90%;
        font-weight: 600;
        text-align: center;
        font-size: 0.9em;
        justify-content: center;
        @include media(desktop-s) {
          font-size: 1.2em;
          margin-top: 10px;
        }
      }
    }
    &--box {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      padding-bottom: 25px;
      background-color: $color-claro2;

      @include media(desktop-s) {
        height: 250px;
        flex-direction: row;
        padding-bottom: 0;
      }
      @include media(desktop-l) {
        height: 300px;
      }
      &--text {
        width: 90%;
        margin: 10px auto 0;
        flex-direction: column;

        @include flex;
        @include media(tablet) {
          padding: 20px 0;
        }
        @include media(desktop-s) {
          width: 50%;
          margin: 0 auto;
        }
        & p {
          font-weight: 600;
          width: 90%;
          font-size: 0.8em;
          text-align: center;
          color: $color-primario;
          @include media(desktop-s) {
            font-size: 0.9em;
            width: 90%;
          }
        }
      }
      &--imgcont {
        width: 100%;
        overflow: hidden;
        @include media(desktop-s) {
          width: 50%;
        }
        & img {
          width: 100%;
          @include media(desktop-s) {
            width: 125%;
          }
          @include media(desktop-m) {
            width: 100%;
          }
        }
      }
    }
  }
  &--container2 {
    width: 85%;
    padding: 10px 0;
    margin: 20px auto 0;
    flex-direction: column;
    background-color: $color-claro2;
    @include shadow;
    @include flex;
    @include media(mobile-xl) {
      width: 65%;
    }
    @include media(desktop-s) {
      width: 600px;
      margin: 60px auto;
    }
    & p {
      width: 90%;
      font-weight: 600;
      font-size: 0.8em;
      text-align: center;
      @include media(desktop-s) {
        font-size: 1.1em;
      }
    }
  }
}

.inverse {
  @include media(desktop-s) {
    flex-direction: row-reverse;
  }
}
