.institucional {
  width: 100%;
  margin: 0;
  padding: 0 0 50px;
  background-color: $color-claro;
  @include media(desktop-s) {
    padding-bottom: 100px;
  }
  &--container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(tablet) {
      padding-top: 10px;
    }
    @include media(desktop-s) {
      width: 70%;
    }
    &--title {
      text-align: center;
      text-transform: uppercase;
      color: $color-variacion2;
      @include media(tablet) {
        padding: 40px 0;
      }
    }
    &--text {
      font-weight: 500;
      font-size: 0.9em;
      padding-left: 10px;
      @include media(desktop-s) {
        font-size: 1.2em;
        padding-left: 0;
      }
    }
    & ul {
      padding-left: 30px;

      @include media(desktop-s) {
        padding-left: 40px;
      }
      & li {
        margin: 10px 0;
        font-size: 0.8em;
        font-weight: 600;

        color: $color-variacion2;
        @include media(desktop-s) {
          font-size: 1.2em;
          margin: 15px 0;
        }
      }
    }
    &--links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      margin: 10px auto 0;

      @include media(tablet) {
        position: absolute;
        width: 100%;
        max-width: 750px;
        justify-content: space-between;
        margin: 0 auto;
      }
      @include media(desktop-s) {
      }
      &--button {
        text-decoration: none;
        text-align: center;
        margin: 10px 0;
        border-radius: 4px;
        font-weight: 600;
        transition: 0.3s;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        border-radius: 50%;

        @include shadow;
        @include flex;
        @include media(mobile-xl) {
          margin: 10px 12px;
        }
        &:hover {
          text-decoration: none;
          @include shadow-hover;
        }
        &:hover p {
          color: $color-variacion;
        }
        & img {
          width: 110px;
          padding: 5px;
        }
      }
    }
  }
}
