.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-claro2;
  &--container {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding: 0 0 30px;
    @include media(mobile-xl) {
      width: 80%;
    }
    @include media(desktop-s) {
      width: 70%;
      padding-top: 30px 0;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--title {
      text-align: center;
      text-transform: uppercase;
      color: $color-variacion2;
      @include media(desktop-s) {
        width: 100%;
      }
    }

    &--text {
      font-weight: 500;
      width: 85%;
      margin: 20px auto;
      font-size: 0.9em;
      padding-left: 10px;

      @include media(mobile-xl) {
        width: 100%;
      }
      @include media(desktop-s) {
        font-size: 1em;
        margin: 20px 0;
        width: 52%;
        padding: 0;
      }
    }
    & img {
      width: 100%;
      margin: 0;
      @include shadow;

      @include media(mobile-xl) {
        border-radius: 4px;
      }
      @include media(desktop-s) {
        width: 45%;
      }
    }
    &--donde {
      flex-wrap: wrap;
      @include flex;
      @include media(desktop-s) {
        width: 80%;
        padding: 0 30px;
        margin: 60px auto 40px;
        border-radius: 4px;
        background-color: $color-claro;
        @include shadow;
      }
      & h5 {
        text-transform: uppercase;
        text-align: center;
        color: $color-variacion2;
        font-size: 1.1em;
        padding: 20px 0 0;
        margin: 20px 0;
        width: 100%;
        text-align: center;
        @include media(desktop-s) {
          font-size: 1.5em;
          padding: 20px 0 20px;
        }
      }
      &--text {
        font-weight: 500;
        width: 85%;
        margin: 0 0 20px;
        font-size: 0.9em;
        text-align: center;
        color: $color-variacion2;
        @include media(mobile-xl) {
          width: 100%;
        }
        @include media(tablet) {
        }
        @include media(desktop-s) {
          font-size: 1em;
          padding-left: 10px;
          text-align: start;
        }
      }
      & iframe {
        width: 80%;
        height: 300px;
        margin: 0 0 20px;
        border-radius: 4px;
        @include shadow;
        @include media(mobile-xl) {
          width: 100%;
        }
        @include media(tablet) {
          height: 300px;
        }
        @include media(desktop-s) {
          height: 400px;
        }
      }
    }
  }
}

.nosotros--container.mob {
  display: flex;
  @include media(desktop-s) {
    display: none;
  }
}

.nosotros--container.desk {
  display: none;
  @include media(desktop-s) {
    display: flex;
  }
}
